<form ng-submit="vm.save()" name="vm.form">
<div class="modal-header">
  <h4>User details</h4>
</div>
<div class="modal-body">
    <div class="form-group">
      <label for="userName">Name</label>
      <input type="text"
             ng-model="vm.user.name"
             id="userName"
             name="userName"
             class="form-control"
             required
             placeholder="User name">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text"
             ng-model="vm.user.email"
             id="email"
             name="email"
             required
             class="form-control"
             placeholder="Email">
    </div>
    <div class="form-group" ng-if="vm.user._id">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="vm.changePassword">
          Change password
        </label>
      </div>
    </div>
    <div class="form-group" ng-if="!vm.user._id || vm.changePassword">
      <label for="password">Password</label>
      <input type="password"
             ng-model="vm.user.password"
             id="password"
             name="password"
             class="form-control"
             required
             placeholder="Password">
    </div>
    <div class="form-group">
      <label for="role">Role</label>
      <select name="role"
              id="role"
              ng-model="vm.user.role"
              class="form-control"
              required
              ng-options="role.value as role.label for role in vm.roles">
      </select>
    </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid">Save</button>
  <button type="button" class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
</div>

</form>
