<form ng-submit="vm.save()" name="vm.form">
  <div class="modal-header">
    <h4>Device details</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="deviceName">Model name:</label>
      <input type="text"
             ng-model="vm.device.model"
             id="deviceName"
             name="deviceName"
             class="form-control"
             required
             placeholder="Model name">
    </div>
    <div class="form-group">
      <label for="partNumber">Part Number:</label>
      <input type="text"
             ng-model="vm.device.partNumber"
             id="partNumber"
             class="form-control"
             placeholder="Part number"
             required
             name="partNumber">
    </div>
    <div class="form-group">
      <label for="upc">UPC:</label>
      <input type="text"
             ng-model="vm.device.upc"
             id="upc"
             class="form-control"
             required
             placeholder="UPC"
             name="upc">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text"
             ng-model="vm.device.description"
             id="description"
             name="description"
             class="form-control"
             required
             placeholder="Description">
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid">Save</button>
    <button type="button" class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
  </div>

</form>
