html{
  height: 100%;
}
th{
  white-space: nowrap;
}
body{
  min-height:100%;
  display: flex;
  flex-direction: column;
}
body>ui-view{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
body>ui-view>main-component{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
body>ui-view>main-component>.container{
  flex-grow: 1;
}
body>ui-view>main-component>.container-fluid{
  flex-grow: 1;
  width: 100%;
}
login-component{
  display: block;
  margin-top: 10%;
}
.col-actions{
  min-width: 100px;
  width: 150px;
  text-align: center;
}

.load-progress{
  float: right;
  width: 150px;
}
.load-progress>.progress{
  margin-bottom: 0;
}
/*.form-group label{*/
  /*display: none;*/
/*}*/
/*.input-group input{*/
  /*padding-left: 10px!important;*/
/*}*/
.navbar {
  border-radius: 0!important;
}
.footer-main{
  margin-bottom: 0;
  margin-top: 10px;
  background-color: #ebebeb;
  padding: 7px 0;
}
.footer-main p{
  text-align: center;
  margin: 0;
  font-size: 12px;
}
device-category-gallery .carousel-caption .btn {
  opacity: .5;
}
device-category-gallery .carousel-caption .btn:hover{
  opacity: 1;
}
th[ng-click]{
  user-select: none;
  cursor: pointer;
}

.glyphicon.reverse{
  transform: rotate(-180deg);
}
.sm-spacer{
  margin-bottom: 20px;
}
.pagination-wrapper{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.gallery .carousel-indicators{
  display: none;
}

.scroled-table{
  overflow: auto;
  max-height: 600px;
  max-height: calc( 100vh - 187px );
}
table.clone{
  margin-bottom: 0;
  border-left:none!important;
}
@media print {
  .no-print{
    display: none!important;
  }
  a[href]:after {
    content: none !important;
  }
  table.clone{
    display: none!important;
  }
  .scroled-table{
    max-height: none;
  }
  .scroled-table table{
    margin-top: 0!important;
  }
  .scroled-table thead{
    visibility: visible!important;
  }
}
.btn-sm, .btn-group-sm>.btn{
  padding:5px 9px;
}
.full-flex{
  flex-grow: 1;
}
@media (min-width: 992px) {
  .modal-lg {
    max-width: 1100px;
    width: 100%;
  }
}
legend{
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
  line-height:inherit;
  border-bottom: 1px solid #e5e5e5;
}
.with-autocomplete{
  position: relative;
}
.with-autocomplete .dropdown-menu{
  top: 100%!important;
  left: 0!important;
  width: 100%!important;
}
.clear-form-group-margin{
  min-width:100px;
}
.clear-form-group-margin .form-group{
  margin-bottom: 0!important;
}
.table-sm>tbody>tr>td{
  padding: 4px!important;
}
.alert-card{
  border-radius: 2px;
  padding: 10px 15px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.alert-card-message{
  font-size: 15px;
  font-weight: 600;
}
.rma-serial-card{
  border-radius: 2px;
  padding: 20px 8px;
  position: relative;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  overflow: auto;
}
.rma-serial-card:hover .delete-serial-card, .rma-serial-card:hover .edit-serial-card, .rma-serial-card:hover .print-serial-card{
  opacity: 1;
}
.delete-serial-card{
  position: absolute;
  top: 6px;
  right: 6px;
  border: none;
  background: transparent;
  padding: 0;
  width: 21px;
  font-size: 16px;
  opacity: 0;
  transition: .3s;
  color: #757575;
}
.rma-serial-card table{
  margin-bottom: 0;
}
.rma-serial-card table td {
  width: 50%;
}
.rma-serial-card .form-control{
  transition: none!important;
}
.edit-serial-card{
  position: absolute;
  top: 6px;
  right: 33px;
  border: none;
  background: transparent;
  padding: 0;
  width: 21px;
  opacity: 0;
  transition: .3s;
  font-size: 14px;
  color: #757575;
}
.print-serial-card{
  position: absolute;
  top: 6px;
  right: 60px;
  border: none;
  background: transparent;
  padding: 0;
  width: 21px;
  opacity: 0;
  transition: .3s;
  font-size: 14px;
  color: #757575;
}
.rma-serial-card:hover .edit-serial-card[disabled], .rma-serial-card:hover .delete-serial-card[disabled], .rma-serial-card:hover .print-serial-card[disabled]{
  cursor: not-allowed;
  opacity: 0.65;
}
.rma-serial-card + .rma-serial-card{
  margin-top: 30px;
}
.rma-card-closed{
  background: #f5f5ff;
}
.max-two-columns>td:nth-child(n+3){
  display: none!important;
}
#toast-container{
  z-index: 999999999;
}
.print-only{
  display: none!important;
}
.print-customer-button{
  position: absolute;
  top: 23px;
  right: 30px;
  border: none;
  background: transparent;
  padding: 0;
  width: 21px;
  font-size: 16px;
  color: #757575;
}
.customer-detail-header{
  position: relative;
}
.navbar-brand{
  padding: 10px 15px!important;
}
.navbar-brand img{
  height: 100%;
}
