<div class="row">
  <p class="col-sm-12">
    <button class="btn btn-primary"
            ng-if="(vm.category.type !== 'Form' || vm.category.type === 'Form' && vm.documents.length === 0) &&
                    vm.fields.length > 0"
            has-role="['admin', 'productionAdmin', 'salesAdmin']"
            ng-click="vm.openDocumentModal({})">Create
    </button>
    <button type="button"
            ng-click="vm.openDocumentModal(vm.documents[0], 0)"
            ng-if="vm.category.type === 'Form' && vm.documents.length >=1"
            class="btn btn-primary">
      Edit
    </button>
  </p>
  <device-category-table
      ng-if="vm.category.type === 'Table' && vm.fields.length > 0 && vm.documents.length > 0"
      open-document-modal="vm.openDocumentModal(document, index)"
      delete="vm.delete(document, index)"
      fields="vm.fields"
      documents="vm.documents"></device-category-table>
  <device-category-gallery
      ng-if="vm.category.type === 'Gallery'"
      delete="vm.delete(document, index)"
      documents="vm.documents"></device-category-gallery>
  <device-category-form
      ng-if="vm.category.type === 'Form' && vm.documents[0]"
      documents="vm.documents"></device-category-form>
  <div class="col-xs-12" ng-if="vm.fields.length === 0">
    <div class="jumbotron col-xs-12 text-center">
      <h4>
        Selected category don't has any field.
      </h4>
      <a ui-sref="fields({id: vm.categoryId})"
         class="btn btn-primary"
         has-role="['admin']">Add fields</a>
    </div>
  </div>
  <div class="col-xs-12" ng-if="vm.fields.length > 0 && vm.documents.length === 0">
    <div class="jumbotron text-center">
      <h4>Selected device don't has any info in this category.</h4>
    </div>
  </div>
</div>

