<div class="row">
  <div class="col-sm-12 table-responsive">
    <p>
      <button class="btn btn-primary"
              has-role="['admin', 'productionAdmin', 'salesAdmin']"
              ng-click="vm.openDocumentModal({})">Create</button>
    </p>
    <table class="table table-bordered">
      <thead>
      <th ng-repeat="field in vm.fields | orderBy : '_id'">{{field.title}}</th>
      <th class="col-actions" has-role="['admin', 'productionAdmin', 'salesAdmin']">Actions</th>
      </thead>
      <tbody>
      <tr ng-repeat="document in vm.documents">
        <td ng-repeat="field in document.fields | orderBy : 'field._id'">
          <a href="http://localhost:8080/uploads/{{field.value.filename}}" ng-if="field.field.type.value === 'file'" target="_blank">{{field.value.originalname}}</a>
          <span ng-if="field.field.type.value !== 'file'">{{field.value}}</span>
        </td>
        <td class="col-actions" has-role="['admin', 'productionAdmin', 'salesAdmin']">
          <button type="button"
                  ng-click="vm.openDocumentModal(document, $index)"
                  class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
          <button type="button"
                  ng-click="vm.delete(document, $index)"
                  class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

