<div class="row">
  <div class="col-md-3 no-print sm-spacer">
    <form name="vm.form"
          ng-submit="vm.loadRma()">
      <div class="form-group form-group-sm">
        <label for="formNumber">Form Number:</label>
        <input type="text"
               ng-model="vm.filters.formNumber"
               id="formNumber"
               name="formNumber"
               class="form-control"
               placeholder="Form Number">
      </div>
      <div class="form-group form-group-sm">
        <label for="customerName">Customer:</label>
        <input type="text"
               ng-model="vm.filters._customerName"
               id="customerName"
               name="customerName"
               class="form-control"
               placeholder="Customer Name">
      </div>
      <div class="form-group form-group-sm">
        <label for="rxCarrier">Rx Carrier:</label>
        <input type="text"
               ng-model="vm.filters.rxCarrier"
               id="rxCarrier"
               name="rxCarrier"
               class="form-control"
               placeholder="Rx Carrier">
      </div>
      <div class="form-group form-group-sm">
        <label for="rxTracking">Rx Tracking:</label>
        <input type="text"
               ng-model="vm.filters.rxTracking"
               id="rxTracking"
               name="rxTracking"
               class="form-control"
               placeholder="Rx Tracking">
      </div>
      <div class="form-group form-group-sm">
        <label for="description">Description:</label>
        <input type="text"
               ng-model="vm.filters.description"
               id="description"
               name="description"
               class="form-control"
               placeholder="Description">
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group form-group-sm">
            <label for="dateFrom">From Date:</label>
            <p class="input-group input-group-sm">
              <input type="text"
                     id="dateFrom"
                     class="form-control"
                     uib-datepicker-popup="MM.dd.yyyy"
                     ng-model="vm.filters.dateFrom"
                     popup-placement="auto"
                     placeholder="From Date"
                     is-open="openFrom"
                     datepicker-options="{maxDate: vm.filters.dateTo}"
                     close-text="Close" />
              <span class="input-group-btn">
            <button type="button"
                    class="btn btn-default btn-sm"
                    ng-click="openFrom = !openFrom">
              <i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group form-group-sm">
            <label for="dateTo">To Date:</label>
            <p class="input-group input-group-sm">
              <input type="text"
                     id="dateTo"
                     class="form-control"
                     placeholder="To Date"
                     uib-datepicker-popup="MM.dd.yyyy"
                     ng-model="vm.filters.dateTo"
                     datepicker-options="{minDate: vm.filters.dateFrom}"
                     popup-placement="auto"
                     is-open="openTo"
                     close-text="Close" />
              <span class="input-group-btn">
            <button type="button"
                    class="btn btn-default btn-sm"
                    ng-click="openTo = !openTo">
              <i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
          </div>
        </div>
      </div>

      <div class="text-right">
        <button class="btn btn-primary btn-sm"
                type="button"
                ui-sref="rmaCreate">New
        </button>
        <button type="button"
                class="btn btn-warning btn-sm"
                ng-click="vm.reset()">Reset
        </button>
        <button type="submit"
                class="btn btn-success btn-sm">Search
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-9">
    <div>
      <div class="table-responsive scroled-table">
        <table class="table table-bordered">
          <thead fix-head>
          <tr>
            <th ng-click="vm.onSortFiltersChanged('formNumber')">
              RMA Form Number
              <span class="glyphicon glyphicon-triangle-bottom"
                    ng-class="{reverse: vm.sortFilters.order}"
                    ng-show="vm.sortFilters.sort === 'formNumber'"></span>
            </th>
            <th ng-click="vm.onSortFiltersChanged('customer.name')">
              Customer
              <span class="glyphicon glyphicon-triangle-bottom"
                    ng-class="{reverse: vm.sortFilters.order}"
                    ng-show="vm.sortFilters.sort === 'customer.name'"></span>
            </th>
            <th ng-click="vm.onSortFiltersChanged('rxCarrier')">
              Rx Carrier
              <span class="glyphicon glyphicon-triangle-bottom"
                    ng-class="{reverse: vm.sortFilters.order}"
                    ng-show="vm.sortFilters.sort === 'rxCarrier'"></span>
            </th>
            <th ng-click="vm.onSortFiltersChanged('rxTracking')">
              Rx Tracking
              <span class="glyphicon glyphicon-triangle-bottom"
                    ng-class="{reverse: vm.sortFilters.order}"
                    ng-show="vm.sortFilters.sort === 'rxTracking'"></span>
            </th>
            <th ng-click="vm.onSortFiltersChanged('description')">
              Description
              <span class="glyphicon glyphicon-triangle-bottom"
                    ng-class="{reverse: vm.sortFilters.order}"
                    ng-show="vm.sortFilters.sort === 'description'"></span>
            </th>
            <th ng-click="vm.onSortFiltersChanged('closed')">
              Status
              <span class="glyphicon glyphicon-triangle-bottom"
                    ng-class="{reverse: vm.sortFilters.order}"
                    ng-show="vm.sortFilters.sort === 'closed'"></span>
            </th>
            <th ng-click="vm.onSortFiltersChanged('totalCount')">
              Total Items
              <span class="glyphicon glyphicon-triangle-bottom"
                    ng-class="{reverse: vm.sortFilters.order}"
                    ng-show="vm.sortFilters.sort === 'totalCount'"></span>
            </th>
            <th ng-click="vm.onSortFiltersChanged('closedCount')">
              Closed Items
              <span class="glyphicon glyphicon-triangle-bottom"
                    ng-class="{reverse: vm.sortFilters.order}"
                    ng-show="vm.sortFilters.sort === 'closedCount'"></span>
            </th>
            <th ng-click="vm.onSortFiltersChanged('dateCreate')">
              Date Create
              <span class="glyphicon glyphicon-triangle-bottom"
                    ng-class="{reverse: vm.sortFilters.order}"
                    ng-show="vm.sortFilters.sort === 'dateCreate'"></span>
            </th>
            <th class="col-actions no-print">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="rma in vm.rmaes">
            <td><a ui-sref="rmaDetail({id: rma._id})">{{rma.formNumber}}</a></td>
            <td>{{rma.customer.name}}</td>
            <td>{{rma.rxCarrier}}</td>
            <td><a target="_blank" href="http://www.google.com/search?q={{rma.rxTracking}}">{{rma.rxTracking}}</a></td>
            <td>{{rma.description}}</td>
            <td>{{rma.closed ? 'Closed' : 'Open'}}</td>
            <td>{{rma.totalCount}}</td>
            <td>{{rma.closedCount}}</td>
            <td>{{rma.dateCreate | date: 'MM.dd.yyyy'}}</td>
            <td class="text-center">
              <button type="button"
                      ng-click="vm.delete(rma)"
                      class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="pagination-wrapper no-print">
      <ul uib-pagination
          total-items="vm.pagination.total"
          ng-model="vm.pagination.page"
          ng-change="vm.loadRma()"
          max-size="6"
          items-per-page="vm.pagination.limit"
          class="pagination-sm pull-left"
          boundary-link-numbers="true"></ul>
      <span class="full-flex"></span>
      <div class="btn-group btn-group-sm">
        <label class="btn btn-success" disabled>Items per page</label>
        <label class="btn btn-success"
               ng-model="vm.pagination.limit"
               ng-change="vm.onLimitChange()"
               ng-repeat="limit in vm.limits"
               uib-btn-radio="limit">{{limit}}</label>
        <label class="btn btn-success" disabled>Count: {{vm.pagination.total}}</label>
      </div>
    </div>
  </div>
</div>

