<div class="col-sm-12">
  <div uib-carousel active="vm.active" interval="0">
    <div uib-slide ng-repeat="document in vm.documents track by $index" index="$index">
      <img ng-src="/api/uploads/{{document.fields[0].value.filename}}" style="margin:auto; max-height: 450px; min-height: 100px">
      <div class="carousel-caption" has-role="['admin', 'productionAdmin', 'salesAdmin']">
        <p>
          <a href="/api/uploads/{{document.fields[0].value.filename}}"
             class="btn btn-sm btn-success"
             download="{{document.fields[0].value.originalname}}"
             target="_blank">Download</a>
          <button type="button"
                  ng-click="vm.delete({document: document, index: $index})"
                  class="btn btn-danger btn-sm">
            Delete
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
