<form ng-submit="vm.save()" name="vm.form" id="{{vm.customer._id}}">
  <div class="modal-header customer-detail-header">
    <button type="button"
            class="print-customer-button"
            ng-if="vm.customer._id"
            ng-click="vm.print('selected-customer')">
      <span class="glyphicon glyphicon-print"></span>
    </button>
    <h4>Customer details</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="customerType">Type:</label>
      <select name="customerType" class="form-control" id="customerType" ng-model="vm.customer.type" required>
        <option value="reseller">Reseller</option>
        <option value="endUser">End User</option>
      </select>
    </div>
    <div class="form-group" ng-repeat="field in vm.fields">
      <label for="{{field.key}}">{{field.label}}:</label>
      <input type="{{field.type}}"
             ng-model="vm.customer[field.key]"
             id="{{field.key}}"
             name="{{field.key}}"
             class="form-control"
             ng-required="field.required"
             placeholder="{{field.label}}">
    </div>
    <div ng-repeat="obj in vm.customer.fields">
      <div class="form-group" ng-if="obj.field.type.value === 'number'">
        <label for="{{obj.field.title}}">{{obj.field.title}}</label>
        <input type="number"
               ng-model="obj.value"
               placeholder="{{obj.field.title}}"
               id="{{obj.field.title}}"
               name="{{obj.field.title}}"
               class="form-control"
               ng-required="obj.field.required">
      </div>
      <div class="form-group" ng-if="obj.field.type.value === 'text'">
        <label for="{{obj.field.title}}">{{obj.field.title}}</label>
        <input type="text"
               ng-model="obj.value"
               placeholder="{{obj.field.title}}"
               id="{{obj.field.title}}"
               name="{{obj.field.title}}"
               class="form-control"
               ng-required="obj.field.required">
      </div>
      <div class="form-group" ng-if="obj.field.type.value === 'link'">
        <label for="{{obj.field.title}}">{{obj.field.title}}</label>
        <input type="text"
               ng-model="obj.value"
               placeholder="http://{{obj.field.title}}"
               id="{{obj.field.title}}"
               name="{{obj.field.title}}"
               ng-pattern="/https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/"
               class="form-control"
               ng-required="obj.field.required">
      </div>
      <div class="form-group" ng-if="obj.field.type.value === 'longText'">
        <label for="{{obj.field.title}}">{{obj.field.title}}</label>
        <textarea
          ng-model="obj.value"
          id="{{obj.field.title}}"
          placeholder="{{obj.field.title}}"
          name="{{obj.field.title}}"
          class="form-control"
          ng-required="obj.field.required"></textarea>
      </div>
      <div class="form-group" ng-if="obj.field.type.value === 'select'">
        <label for="{{obj.field.title}}">{{obj.field.title}}</label>
        <select ng-model="obj.value"
                id="{{obj.field.title}}"
                name="{{obj.field.title}}"
                class="form-control"
                ng-required="obj.field.required"
                ng-options="option as option for option in obj.field.options">
        </select>
      </div>
      <div class="form-group" ng-if="obj.field.type.value === 'file'">
        <label for="{{obj.field.title}}">{{obj.field.title}}</label>
        <div class="load-progress">
          <uib-progressbar max="100" value="obj.progress" ng-if="obj.progress >= 0">
            <span style="color:white; white-space:nowrap;">{{obj.progress}} / 100</span>
          </uib-progressbar>
        </div>
        <div class="clearfix"></div>
        <div class="input-group" ngf-select="vm.upload($file, obj)">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Search</button>
          </span>
          <input type="text"
                 id="{{obj.field.title}}"
                 name="{{obj.field.title}}"
                 ng-model="obj.value.originalname"
                 class="form-control"
                 placeholder="{{obj.field.title}}"
                 ng-required="obj.field.required"
                 readonly>
        </div>
      </div>
      <div class="form-group" ng-if="obj.field.type.value === 'img'">
        <label for="{{obj.field.title}}">{{obj.field.title}}</label>
        <div class="load-progress">
          <uib-progressbar max="100" value="obj.progress" ng-if="obj.progress >= 0">
            <span style="color:white; white-space:nowrap;">{{obj.progress}} / 100</span>
          </uib-progressbar>
        </div>
        <div class="clearfix"></div>
        <div class="input-group" ngf-select="vm.upload($file, obj)" ngf-accept="'image/*'">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Search</button>
          </span>
          <input type="text"
                 id="{{obj.field.title}}"
                 name="{{obj.field.title}}"
                 ng-model="obj.value.originalname"
                 placeholder="{{obj.field.title}}"
                 class="form-control"
                 ng-required="obj.field.required"
                 readonly>
        </div>
      </div>
      <div class="form-group" ng-if="obj.field.type.value === 'date'">
        <label for="{{obj.field.title}}">{{obj.field.title}}</label>
        <p class="input-group" ng-init="vm.convertDate(obj)">
          <input type="text"
                 class="form-control"
                 uib-datepicker-popup="MM.dd.yyyy"
                 ng-model="obj.value"
                 popup-placement="auto"
                 placeholder="{{obj.field.title}}"
                 is-open="obj.open"
                 ng-required="obj.required"
                 close-text="Close"  />
          <span class="input-group-btn">
            <button type="button"
                    class="btn btn-default"
                    ng-click="obj.open = !obj.open">
              <i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
  </div>

</form>
<div id="selected-customer">
  <table class="print-only table-bordered" cellpadding="5" cellspacing="0">
    <tbody>
    <tr ng-repeat="field in vm.fields">
      <td><b>{{field.label}}:</b></td>
      <td>{{vm.customer[field.key]}}</td>
    </tr>
    <tr ng-repeat="obj in vm.customer.fields | orderBy: obj._id" ng-if="obj.value">
      <td><b>{{obj.field.title}}:</b></td>
      <td>
        <span ng-if="obj.field.type.value === 'number' ||
                     obj.field.type.value === 'text' ||
                     obj.field.type.value === 'link' ||
                     obj.field.type.value === 'select' ||
                     obj.field.type.value === 'longText'">{{obj.value}}</span>
        <span ng-if="obj.field.type.value === 'date'">{{obj.value | date: 'MM.dd.yyyy'}}</span>
        <span ng-if="obj.field.type.value === 'file' || obj.field.type.value === 'img'">{{obj.value.originalname}}</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
