<div class="row">
  <div class="col-sm-12 table-responsive">
    <p>
      <button class="btn btn-primary" ng-click="vm.openCategoryModal({})">Create</button>
    </p>
    <table class="table table-bordered">
      <thead>
      <th>Name</th>
      <th>Production</th>
      <th>Sales</th>
      <th>Published</th>
      <th>Type</th>
      <th>Date create</th>
      <th class="col-actions">Actions</th>
      </thead>
      <tbody>
      <tr ng-repeat="category in vm.categories">
        <td>{{category.title}}</td>
        <td>{{category.production}}</td>
        <td>{{category.sales}}</td>
        <td>{{category.published}}</td>
        <td>{{category.type}}</td>
        <td>{{category.dateCreate | date : 'dd.MM.yyyy HH:mm'}}</td>
        <td class="col-actions">
          <a ui-sref="fields({id: category._id})" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-eye-open"></span>
          </a>
          <button type="button"
                  ng-click="vm.openCategoryModal(category, $index)"
                  class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
          <button type="button"
                  ng-click="vm.delete(category, $index)"
                  class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
