<form ng-submit="vm.save()" name="vm.form">
  <div class="modal-header">
    <h4>Field details</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="field-title">Title</label>
      <input type="text"
             ng-model="vm.field.title"
             id="field-title"
             name="fieldTitle"
             class="form-control"
             required
             placeholder="Title">
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="vm.field.required">
          Required
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="field-type">Field type</label>
      <select name="field-type"
              id="field-type"
              ng-model="vm.field.type"
              ng-change="vm.field.useAsSubcategory = false"
              class="form-control"
              required
              ng-options="type as type.label for type in vm.types track by type._id">
      </select>
    </div>
    <chips ng-model="vm.field.options" required ng-if="vm.field.type.value === 'select'">
      <chip-tmpl>
        <div class="default-chip">
          {{chip}}
          <span class="glyphicon glyphicon-remove" remove-chip></span>
        </div>
      </chip-tmpl>
      <input chip-control placeholder="Enter an options"></input>
    </chips>
    <div ng-if="vm.field.type.value === 'text'" class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="vm.field.useAsSubcategory">
          Can be used as subcategory
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid">Save</button>
    <button type="button" class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
  </div>

</form>
