<div class="row">
  <div class="col-md-3">
    <uib-accordion close-others="oneAtATime">
      <div uib-accordion-group class="panel-primary" is-open="true" heading="Device info">
        <p><b>Model name: </b>{{vm.device.model}}</p>
        <p><b>Part number: </b>{{vm.device.partNumber}}</p>
        <p><b>UPC: </b>{{vm.device.upc}}</p>
        <p><b>Description: </b>{{vm.device.description}}</p>
        <p has-role="['admin', 'salesAdmin', 'salesUser']"><b>Serial number: </b>{{vm.device.serialNumber}}</p>
      </div>
    </uib-accordion>
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="category in vm.categories"
          ui-sref-active="active">
        <a ui-sref=".category({categoryId: category._id})">
          {{category.title}}
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="row">
      <ui-view class="col-xs-12">
        <div class="jumbotron text-center">
          <h4>Select category for detail.</h4>
        </div>
      </ui-view>
    </div>
  </div>
</div>
