<div class="row">
  <div class="col-sm-12 table-responsive">
    <h3>Model: {{vm.model}}</h3>
    <p>
      <button class="btn btn-primary btn-sm" ng-click="vm.openFieldModal({})">New</button>
    </p>
    <table class="table table-bordered">
      <thead>
      <th>Field name</th>
      <th>Field type</th>
      <th>Required</th>
      <th class="col-actions">Actions</th>
      </thead>
      <tbody>
      <tr ng-repeat="field in vm.staticFields">
        <td>{{field.label}}</td>
        <td>{{field.type}}</td>
        <td>{{field.required}}</td>
        <td class="col-actions">
          <button type="button"
                  disabled
                  class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
          <button type="button"
                  disabled
                  class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      </tr>
      <tr ng-repeat="field in vm.fields">
        <td>{{field.title}}</td>
        <td>{{field.type.label}}</td>
        <td>{{field.required}}</td>
        <td class="col-actions">
          <button type="button"
                  ng-click="vm.openFieldModal(field, $index)"
                  class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
          <button type="button"
                  ng-click="vm.delete(field, $index)"
                  class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
