<div class="row">
  <div class="col-sm-12 table-responsive">
    <h3>Category: {{vm.category.title}}</h3>
    <p ng-if="vm.category.type !== 'Gallery' && vm.category.type !== 'Attachments'">
      <button class="btn btn-primary btn-sm" ng-click="vm.openFieldModal({})">New</button>
    </p>
    <table class="table table-bordered" ng-if="vm.fields.length > 0">
      <thead>
      <th>Field name</th>
      <th>Field type</th>
      <th>Required</th>
      <th>Use as subcategory</th>
      <th class="col-actions" ng-if="vm.category.type !== 'Gallery' && vm.category.type !== 'Attachments'">Actions</th>
      </thead>
      <tbody>
      <tr ng-repeat="field in vm.fields">
        <td>{{field.title}}</td>
        <td>{{field.type.label}}</td>
        <td>{{field.required}}</td>
        <td>{{field.useAsSubcategory}}</td>
        <td class="col-actions" ng-if="vm.category.type !== 'Gallery' && vm.category.type !== 'Attachments'">
          <button type="button"
                  ng-click="vm.openFieldModal(field, $index)"
                  class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
          <button type="button"
                  ng-click="vm.delete(field, $index)"
                  class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-12" ng-if="vm.fields.length === 0">
    <div class="jumbotron text-center">
      <h4>Selected category don't has any field.</h4>
    </div>
  </div>
</div>
