<div class="row">
  <div class="col-sm-12">
    <p>
      <button class="btn btn-primary" ng-click="vm.openUserModal({})">Create</button>
    </p>
    <table class="table table-bordered">
      <thead>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th class="col-actions">Actions</th>
      </thead>
      <tbody>
      <tr ng-repeat="user in vm.users">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td class="col-actions">
          <button type="button"
                  ng-click="vm.openUserModal(user, $index)"
                  class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
          <button type="button"
                  ng-click="vm.delete(user, $index)"
                  ng-disabled="user._id === vm.user._id"
                  class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
