<div>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="vm.isNavCollapsed = !vm.isNavCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">
          <img src="logo/logo.jpg" alt="logo">
        </a>
        <!--<a class="navbar-brand" ui-sref="home" has-role="['admin', 'productionAdmin', 'productionUser']">Devices</a>-->
        <!--<a class="navbar-brand" ui-sref="serials" has-role="['salesAdmin', 'salesUser']">Sales</a>-->
        <!--<a class="navbar-brand" ui-sref="rma" has-role="['support']">RMA</a>-->
      </div>
      <div class="collapse navbar-collapse" uib-collapse="vm.isNavCollapsed">
        <ul class="nav navbar-nav">
          <li has-role="['admin', 'productionAdmin', 'productionUser']" ui-sref-active="active">
            <a ui-sref="home">Devices</a>
          </li>
          <li has-role="['admin', 'salesAdmin', 'salesUser']" ui-sref-active="active"><a ui-sref="serials">Sales</a></li>
          <li has-role="['admin', 'salesAdmin', 'salesUser']" ui-sref-active="active"><a ui-sref="salesGroups">Sales Groups</a></li>
          <li has-role="['admin']" ui-sref-active="active"><a ui-sref="categories">Categories</a></li>
          <li has-role="['admin', 'productionAdmin', 'salesAdmin']" ui-sref-active="active"><a ui-sref="users">Users</a></li>
          <li has-role="['admin', 'support']" ui-sref-active="active"><a ui-sref="rma">RMA</a></li>
          <li has-role="['admin', 'salesAdmin', 'support']" ui-sref-active="active"><a ui-sref="customers">Customers</a></li>
          <li ui-sref-active="active"><a ui-sref="about">About</a></li>
          <li ui-sref-active="active"><a ui-sref="help">Help</a></li>
        </ul>
        <p class="navbar-text navbar-right visible-xs">{{vm.user.name}}</p>
        <ul class="nav navbar-nav navbar-right">
          <li><a ui-sref="login">Logout</a></li>
        </ul>
        <p class="navbar-text navbar-right hidden-xs">{{vm.user.name}}</p>
      </div>
    </div>
  </nav>
</div>
