login-component{
  display: block;
  margin-top: 10%;
}
.col-actions{
  width: 150px;
  text-align: center;
}
.load-progress{
  float: right;
  width: 150px;
}
.load-progress>.progress{
  margin-bottom: 0;
}
/*.form-group label{*/
  /*display: none;*/
/*}*/
/*.input-group input{*/
  /*padding-left: 10px!important;*/
/*}*/
