html{
  height: 100%;
}
body{
  min-height:100%;
  display: flex;
  flex-direction: column;
}
body>ui-view{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
body>ui-view>main-component{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
body>ui-view>main-component>.container{
  flex-grow: 1;
}
login-component{
  display: block;
  margin-top: 10%;
}
.col-actions{
  width: 150px;
  text-align: center;
}
.load-progress{
  float: right;
  width: 150px;
}
.load-progress>.progress{
  margin-bottom: 0;
}
/*.form-group label{*/
  /*display: none;*/
/*}*/
/*.input-group input{*/
  /*padding-left: 10px!important;*/
/*}*/
.navbar {
  border-radius: 0!important;
}
.footer-main{
  margin-bottom: 0;
  margin-top: 15px;
  background-color: #ebebeb;
  padding: 7px 0;
}
.footer-main p{
  text-align: center;
  margin: 0;
  font-size: 12px;
}
device-category-gallery .carousel-caption .btn {
  opacity: .5;
}
device-category-gallery .carousel-caption .btn:hover{
  opacity: 1;
}
th[ng-click]{
  user-select: none;
  cursor: pointer;
}

.glyphicon.reverse{
  transform: rotate(-180deg);
}
.sm-spacer{
  margin-bottom: 20px;
}
