html{
  height: 100%;
}
th{
  white-space: nowrap;
}
body{
  min-height:100%;
  display: flex;
  flex-direction: column;
}
body>ui-view{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
body>ui-view>main-component{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
body>ui-view>main-component>.container{
  flex-grow: 1;
}
body>ui-view>main-component>.container-fluid{
  flex-grow: 1;
  width: 100%;
}
login-component{
  display: block;
  margin-top: 10%;
}
.col-actions{
  min-width: 100px;
  width: 150px;
  text-align: center;
}

.load-progress{
  float: right;
  width: 150px;
}
.load-progress>.progress{
  margin-bottom: 0;
}
/*.form-group label{*/
  /*display: none;*/
/*}*/
/*.input-group input{*/
  /*padding-left: 10px!important;*/
/*}*/
.navbar {
  border-radius: 0!important;
}
.footer-main{
  margin-bottom: 0;
  margin-top: 10px;
  background-color: #ebebeb;
  padding: 7px 0;
}
.footer-main p{
  text-align: center;
  margin: 0;
  font-size: 12px;
}
device-category-gallery .carousel-caption .btn {
  opacity: .5;
}
device-category-gallery .carousel-caption .btn:hover{
  opacity: 1;
}
th[ng-click]{
  user-select: none;
  cursor: pointer;
}

.glyphicon.reverse{
  transform: rotate(-180deg);
}
.sm-spacer{
  margin-bottom: 20px;
}
.pagination-wrapper{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.gallery .carousel-indicators{
  display: none;
}

.scroled-table{
  overflow: auto;
  max-height: 600px;
  max-height: calc( 100vh - 187px );
}
table.clone{
  margin-bottom: 0;
  border-left:none!important;
}
@media print {
  .no-print{
    display: none!important;
  }
  a[href]:after {
    content: none !important;
  }
  table.clone{
    display: none!important;
  }
  .scroled-table{
    max-height: none;
  }
  .scroled-table table{
    margin-top: 0!important;
  }
  .scroled-table thead{
    visibility: visible!important;
  }
}
.btn-sm, .btn-group-sm>.btn{
  padding:5px 9px;
}
.full-flex{
  flex-grow: 1;
}
@media (min-width: 992px) {
  .modal-lg {
    max-width: 1100px;
    width: 100%;
  }
}
