<div class="row">
    <div class="col-md-3 no-print sm-spacer">
        <form name="vm.form"
              ng-submit="vm.loadSalesGroups()">

            <div class="form-group form-group-sm">
                <label for="salesOrder">Sales Order:</label>
                <input type="text"
                       ng-model="vm.filters.salesOrder"
                       id="salesOrder"
                       name="salesOrder"
                       class="form-control"
                       placeholder="Sales Order">
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-group-sm">
                        <label for="dateFrom">From Date:</label>
                        <p class="input-group input-group-sm">
                            <input type="text"
                                   id="dateFrom"
                                   class="form-control"
                                   uib-datepicker-popup="MM.dd.yyyy"
                                   ng-model="vm.filters.dateFrom"
                                   popup-placement="auto"
                                   placeholder="From Date"
                                   is-open="openFrom"
                                   datepicker-options="{maxDate: vm.filters.dateTo}"
                                   close-text="Close"/>
                            <span class="input-group-btn">
                                <button type="button"
                                        class="btn btn-default"
                                        ng-click="openFrom = !openFrom">
                                  <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-group-sm">
                        <label for="dateTo">To Date:</label>
                        <p class="input-group input-group-sm">
                            <input type="text"
                                   id="dateTo"
                                   class="form-control"
                                   placeholder="To Date"
                                   uib-datepicker-popup="MM.dd.yyyy"
                                   ng-model="vm.filters.dateTo"
                                   datepicker-options="{minDate: vm.filters.dateFrom}"
                                   popup-placement="auto"
                                   is-open="openTo"
                                   close-text="Close"/>
                            <span class="input-group-btn">
                                <button type="button"
                                        class="btn btn-default"
                                        ng-click="openTo = !openTo">
                                  <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="reseller">Reseller:</label>
                <input type="text"
                       ng-model="vm.filters._resellerName"
                       id="reseller"
                       name="reseller"
                       class="form-control"
                       placeholder="Reseller">
            </div>
            <div class="form-group form-group-sm">
                <label for="endUser">End User:</label>
                <input type="text"
                       ng-model="vm.filters._customerName"
                       id="endUser"
                       name="endUser"
                       class="form-control"
                       placeholder="End User">
            </div>

            <div class="text-right">
                <button class="btn btn-primary btn-sm"
                        type="button"
                        has-role="['admin']"
                        ui-sref="salesGroupCreate">New
                </button>
                <button type="button"
                        class="btn btn-warning btn-sm"
                        ng-click="vm.reset()">Reset
                </button>
                <button type="submit"
                        class="btn btn-success btn-sm">Search
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-9">
        <div>
            <div class="table-responsive scroled-table">
                <table class="table table-bordered">
                    <thead fix-head>
                    <tr>
                        <th ng-click="vm.onSortFiltersChanged('salesOrder')">
                            Sales Order
                            <span class="glyphicon glyphicon-triangle-bottom"
                                  ng-class="{reverse: vm.sortFilters.order}"
                                  ng-show="vm.sortFilters.sort === 'salesOrder'"></span>
                        </th>
                        <th ng-click="vm.onSortFiltersChanged('date')">
                            Date
                            <span class="glyphicon glyphicon-triangle-bottom"
                                  ng-class="{reverse: vm.sortFilters.order}"
                                  ng-show="vm.sortFilters.sort === 'date'"></span>
                        </th>
                        <th ng-click="vm.onSortFiltersChanged('_resellerName')">
                            Reseller
                            <span class="glyphicon glyphicon-triangle-bottom"
                                  ng-class="{reverse: vm.sortFilters.order}"
                                  ng-show="vm.sortFilters.sort === '_resellerName'"></span>
                        </th>
                        <th ng-click="vm.onSortFiltersChanged('_customerName')">
                            End User
                            <span class="glyphicon glyphicon-triangle-bottom"
                                  ng-class="{reverse: vm.sortFilters.order}"
                                  ng-show="vm.sortFilters.sort === '_customerName'"></span>
                        </th>
                        <!--<th class="col-actions no-print">Actions</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="salesGroup in vm.salesGroups">
                        <td><a ui-sref="salesGroupDetail({id: salesGroup._id})">{{salesGroup.salesOrder}}</a></td>
                        <td>{{salesGroup.date | date: 'MM.dd.yyyy'}}</td>
                        <td>{{salesGroup._resellerName}}</td>
                        <td>{{salesGroup._customerName}}</td>
                        <!--<td class="text-center">-->
                            <!--<button type="button"-->
                                    <!--ng-click="vm.delete(salesGroup)"-->
                                    <!--class="btn btn-danger btn-sm">-->
                                <!--<span class="glyphicon glyphicon-trash"></span>-->
                            <!--</button>-->
                        <!--</td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="pagination-wrapper no-print">
            <ul uib-pagination
                total-items="vm.pagination.total"
                ng-model="vm.pagination.page"
                ng-change="vm.loadSalesGroups()"
                max-size="6"
                items-per-page="vm.pagination.limit"
                class="pagination-sm pull-left"
                boundary-link-numbers="true"></ul>
            <span class="full-flex"></span>
            <div class="btn-group btn-group-sm">
                <label class="btn btn-success" disabled>Items per page</label>
                <label class="btn btn-success"
                       ng-model="vm.pagination.limit"
                       ng-change="vm.onLimitChange()"
                       ng-repeat="limit in vm.limits"
                       uib-btn-radio="limit">{{limit}}</label>
                <label class="btn btn-success" disabled>Count: {{vm.pagination.total}}</label>
            </div>
        </div>
    </div>
</div>