<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <th>Model name</th>
    <th>Part number</th>
    <th>UPC</th>
    <th>Description</th>
    <th class="col-actions" has-role="['admin']">Actions</th>
    </thead>
    <tbody>
    <tr ng-repeat="device in vm.devices">
      <td>{{device.model}}</td>
      <td>{{device.partNumber}}</td>
      <td>{{device.upc}}</td>
      <td>{{device.description}}</td>
      <td class="col-actions" has-role="['admin']">
        <a ui-sref="device({id: device._id})" class="btn btn-success btn-sm">
          <span class="glyphicon glyphicon-eye-open"></span>
        </a>
        <button type="button"
                ng-click="vm.openDeviceModal({device: device, index: $index})"
                class="btn btn-primary btn-sm">
          <span class="glyphicon glyphicon-edit"></span>
        </button>
        <button type="button"
                ng-click="vm.delete({device: device, index: $index})"
                class="btn btn-danger btn-sm">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
