<form name="vm.form"
      ng-submit="vm.search()">
  <div class="form-group form-group-sm"
       ng-if="vm.mode === 'sales'">
    <label for="serialNumber">Serial number:</label>
    <input type="text"
           ng-model="vm.filters.serialNumber"
           id="serialNumber"
           name="serialNumber"
           class="form-control"
           placeholder="Serial number">
  </div>

  <div class="form-group form-group-sm">
    <label for="modelName">Model name:</label>
    <input type="text"
           ng-model="vm.filters.model"
           id="modelName"
           name="modelName"
           class="form-control"
           placeholder="Model name">
  </div>
  <div class="form-group form-group-sm">
    <label for="partNumber">Part Number:</label>
    <input type="text"
           ng-model="vm.filters.partNumber"
           id="partNumber"
           class="form-control"
           placeholder="Part number"
           name="partNumber">
  </div>
  <div class="form-group form-group-sm">
    <label for="upc">UPC:</label>
    <input type="text"
           ng-model="vm.filters.upc"
           id="upc"
           class="form-control"
           placeholder="UPC"
           name="upc">
  </div>
  <div class="form-group form-group-sm"
       ng-if="vm.mode != 'sales'">
    <label for="description">Description:</label>
    <input type="text"
           ng-model="vm.filters.description"
           id="description"
           name="description"
           class="form-control"
           placeholder="Description">
  </div>
  <div class="form-group form-group-sm"
       ng-if="vm.mode === 'sales'">
    <label for="salesOrder">Sales Order:</label>
    <input type="text"
           ng-model="vm.filters.salesOrder"
           id="salesOrder"
           name="salesOrder"
           class="form-control"
           placeholder="Sales Order">
  </div>
  <div class="row"
       ng-if="vm.mode === 'sales'">
    <div class="col-sm-6">
      <div class="form-group form-group-sm">
        <label for="dateFrom">From Date:</label>
        <p class="input-group input-group-sm">
          <input type="text"
                 id="dateFrom"
                 class="form-control"
                 uib-datepicker-popup="MM.dd.yyyy"
                 ng-model="vm.filters.dateFrom"
                 popup-placement="auto"
                 placeholder="From Date"
                 is-open="openFrom"
                 datepicker-options="{maxDate: vm.filters.dateTo}"
                 close-text="Close" />
          <span class="input-group-btn">
            <button type="button"
                    class="btn btn-default"
                    ng-click="openFrom = !openFrom">
              <i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group form-group-sm">
        <label for="dateTo">To Date:</label>
        <p class="input-group input-group-sm">
          <input type="text"
                 id="dateTo"
                 class="form-control"
                 placeholder="To Date"
                 uib-datepicker-popup="MM.dd.yyyy"
                 ng-model="vm.filters.dateTo"
                 datepicker-options="{minDate: vm.filters.dateFrom}"
                 popup-placement="auto"
                 is-open="openTo"
                 close-text="Close" />
          <span class="input-group-btn">
            <button type="button"
                    class="btn btn-default"
                    ng-click="openTo = !openTo">
              <i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>
  </div>



  <div class="form-group form-group-sm" ng-if="vm.mode === 'sales'">
    <label for="resellerName">Reseller:</label>
    <input type="text"
           ng-model="vm.filters.resellerName"
           id="resellerName"
           name="resellerName"
           class="form-control"
           placeholder="Reseller">
  </div>

  <div class="form-group form-group-sm" ng-if="vm.mode === 'sales'">
    <label for="customerName">End User:</label>
    <input type="text"
           ng-model="vm.filters.customerName"
           id="customerName"
           name="customerName"
           class="form-control"
           placeholder="End User">
  </div>

  <div class="text-right">
    <button class="btn btn-primary btn-sm"
            type="button"
            ng-if="vm.mode === 'production'"
            has-role="['admin', 'productionAdmin']"
            ng-click="vm.openDeviceModal({device: {}})">New</button>
    <button type="button"
            class="btn btn-warning btn-sm"
            ng-click="vm.reset()">Reset</button>
    <button type="submit"
            class="btn btn-success btn-sm">Search</button></div>
</form>
